<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Capstone_Suite">
    <test name="Capstone_Tests">
        <packages>
            <!-- This will run all classes under tests package -->
            <package name="tests"/>
        </packages>
    </test>
</suite>